sudo: false
language: rust
addons:
  ssh_known_hosts: nick.bewegung.jetzt

env:
- COBALT_BUILD_DIR: _site
before_script:
- cargo install cobalt-bin --features sass
- export PATH="$PATH:/home/travis/.cargo/bin"
script:
- cobalt build

before_deploy:
- "openssl aes-256-cbc -K $encrypted_515e3de15721_key -iv $encrypted_515e3de15721_iv -in deploy_rsa.enc -in .deploy/deploy_rsa.enc -out /tmp/deploy_rsa -d"
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: "rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/$COBALT_BUILD_DIR
root@nick.bewegung.jetzt:/var/dib/bmdt/site"
  on:
    branch: master
    condition: '"$TRAVIS_PULL_REQUEST" = "false"'

