layout: simple
extends: default.liquid
title: 'Startseite'
---

<div class="container">
  <div class="row">
    <div class="col-md-8 m-0 p-0" style="height:26vw;
background-image: url(https://bewegung.jetzt/wp-content/uploads/2018/01/DiB_Alexanderplatz_weiland-36-1920x1080.jpg);
background-size: cover; overflow: hidden">
      <!-- <div class="embed-responsive embed-responsive-21by9" style="opacity: 0.75">
        <video class="victories_video-video victories_video-hero_container-responsive-embed-video" loop="" muted="" poster="https://avaazimages.avaaz.org/victories/vicvideo-frame1.jpg" preload="auto" autoplay="autoplay" style="display: inline-block;">
          <source src="https://avaazimages.avaaz.org/victories/avaaz_victories.mp4" type="video/mp4">
          <source src="https://avaazimages.avaaz.org/victories/avaaz_victories.webm" type="video/webm">
          <source src="https://avaazimages.avaaz.org/victories/avaaz_victories.ogv" type="video/ogg">
        </video>
      </div> -->
      <div class="overlay" style="display: inline-block; position: absolute; bottom: 3em; left: -5px; transform: rotate(-5deg);">
        <h1 class="text-akz-lightyellow bg-akz-blue px-4 m-0" style="display: inline-block">500.000 Menschen</h1><br/>
        <h3 class="text-akz-lightyellow bg-akz-blue px-4 m-0" style="display: inline-block; margin-top: -1px">erarbeiten Visionen für unser Europa</h3>
      </div>
    </div>
    <div class="col-md-4 bg-akz-yellow text-akz-pink d-flex justify-content-between align-items-begin" style="
background-image: url(/assets/images/backdrops/dib-protest.png);
background-size: cover; background-position: bottom center;">
      <div>
        <h3>Gemeinsam.<br/>Politik. Machen.</h3>
      </div>
      <a href="/" class="align-self-end btn btn-lg btn-akz-pink text-akz-yellow">⇢</a>
    </div>
  </div>



  <!-- CTA CTA CTA CTA CTA -->

  <div class="row mt-4 p-0">
    <div class="col-md-6 px-0">
      <a href="/initiativ-prinzip/" class="btn-lg p-3 m-0 w-100 btn btn-akz-pink text-akz-darkpink rounded-0">Jetzt online beteiligen ⇢</a>
    </div>
    <div class="col-md-6 px-0">
      <a href="/veranstaltungen/" class="btn-lg p-3 m-0 w-100 btn btn-akz-green text-akz-darkgreen rounded-0">Zu einem Treffen kommen ⇢</a>
    </div>
  </div>
  <form class="row mt-4 p-0 bg-akz-muted align-items-center">
    <div class="col-md-5 p-3 text-left text-uppercase">
      Immer auf dem Neuesten bleiben
    </div>
    <div class="col-md-5 px-1 mx-0">
        <input class="w-100 form-control" placeHolder="E-Mail-Adresse oder Handy-Nr" />
    </div>
    <div class="col p-0 mr-0">
        <button class=" btn btn-outline-akz-black" type="submit">eintragen</button>
    </div>
  </form>
  <div class="row align-items-center justify-content-center mt-4">
    <span class="text-right h4">Oder per</span>
    <ul class="h1 text-left">
      <li class="inline-icon">{% include "icons/brands/facebook.svg" %}</li>
      <li class="inline-icon">{% include "icons/brands/twitter.svg" %}</li>
      <li class="inline-icon">{% include "icons/brands/youtube-square.svg" %}</li>
      <li class="inline-icon">{% include "icons/brands/instagram.svg" %}</li>
      <li class="inline-icon">{% include "icons/brands/snapchat-ghost.svg" %}</li>
      <li class="inline-icon">{% include "icons/brands/whatsapp.svg" %}</li>
    </ul>
  </div>
  <div class="row mt-1 text-center justify-content-center align-items-center">
      <div class="text-uppercase px-2"><span class="inline-icon">{% include "icons/solid/bolt.svg" %}</span>Direkt zu</div>
      <div class="px-2"><a href='/'><u>Marktplatz der Ideen</u></a></div>
      <div class="px-2"><a href='/'><u>Abstimmungs-Plenum</u></a></div>
      <div class="px-2"><a href='/'><u></u></a></div>
    </ul>
  </div>




  <!-- NEWS -->

  <div class="my-5">
    <div class="row">

      <div class="col-md-3 mt-3">
        <img class="card-img-top" src="https://bewegung.jetzt/wp-content/uploads/2018/01/Afrin_1-800x451.jpg">
        <h5 class="mt-2"><a href="">Der Krieg gegen die Kurd*innen in Nordsyrien ist völkerrechtswidrig</a></h5>
        <p><small class="text-muted">von <a href="">Bente Faust</a>, 26. Januar 2018 </small></p>
      </div>

    <div class="col-md-3 mt-3">
      <img class="card-img-top" src="https://bewegung.jetzt/wp-content/uploads/2018/01/DiB_Richtfest_Weiland-30-1228x691.jpg">
      <h5 class="mt-2"><a href="">Ein Traum wird wahr: Richtfest für das neue Bundesministerium für Demokratie und Transparenz</a></h5>
      <p class="card-text"><small class="text-muted">von <a href="">Dorothee Vogt</a>, 15. Januar 2018 </small></p>
    </div>
    
    <div class="col-md-6 mt-3">
      <div class="card-header-overlay">
        <img class="card-img-top" src="https://bewegung.jetzt/wp-content/uploads/2018/01/mike-1737614_1280-1024x576.jpg">
        <div class="card-header">
          <h5 class="mt-2"><a href="">Reform der Rundfunk-Staatsverträges</a></h5>
          <p class="card-text"><small>von <a href="">Achim Ruppel</a>, 18. Januar 2018 </small></p>
        </div>
      </div>  
    </div>

    <div class="col-md-6 mt-3">
      <div class="card-header-overlay">
        <img class="card-img-top" src="https://bewegung.jetzt/wp-content/uploads/2018/01/DiB_Alexanderplatz_weiland-36-1228x691.jpg">
        <div class="card-header">
          <h5 class="mt-2"><a href="">Du bist nicht allein! ✊</a></h5>
          <p class="card-text"><small>von <a href="">Clemens Holtmann</a>, 17. Januar 2018 </small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-3">
      <img class="card-img-top" src="https://bewegung.jetzt/wp-content/uploads/2018/01/Vielfalts-Blog-614x346.jpg">
      <h5 class="mt-2"><a href="">Vielfalt braucht Bewegung!</a></h5>
      <p class="card-text"><small class="text-muted">von <a href="">Michael Hohenadler</a>, 16. Januar 2018 </small></p>
    </div>

    <div class="col-md-3 mt-3">
      <img class="card-img-top" src="https://bewegung.jetzt/wp-content/uploads/2017/12/people-2557396_1920-1228x691.jpg">
      <h5 class="mt-2"><a href="">Vielfältige Sprache</a></h5>
      <p class="card-text"><small class="text-muted">von <a href="">Sabine Sedlaczek</a>, 3. Dezember 2017 </small></p>
    </div>
  </div>



  <!--  MENSCHEN  -->

  <div class="row my-5 pt-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active px-5">
          <div class="d-flex d-block align-items-center">
            <img class="rounded-circle border w-50" src="/assets/images/menschen/bianca.png" alt="Bianca">
            <p class="px-3">
              <quote class="h5 text-muted"><span class="inline-icon">{% include "icons/solid/quote-left.svg" %}</span>Ich bin Startup Pitch & Public speaking Trainer in der Entrepreneurship & Innovationsbranche. Ich bin bei DEMOKRATIE IN BEWEGUNG, weil Demokratie kein Naturgesetz ist und mir ihre zukunftsfähige, transparente und gerechte Erhaltung ein Anliegen ist.</quote><br/>
              <cite class="text-right"><a href="/menschen/#bianca">Bianca Praetorius</a></cite>
            </p>
          </div>
        </div>
        <div class="carousel-item px-5">
          <div class="d-flex d-block align-items-center">
            <img class="rounded-circle border w-50" src="/assets/images/menschen/raja.jpg" alt="Bianca">
            <p class="px-3">
              <quote class="h5 text-muted"><span class="inline-icon">{% include "icons/solid/quote-left.svg" %}</span>Ich bin Startup Pitch & Public speaking Trainer in der Entrepreneurship & Innovationsbranche. Ich bin bei DEMOKRATIE IN BEWEGUNG, weil Demokratie kein Naturgesetz ist und mir ihre zukunftsfähige, transparente und gerechte Erhaltung ein Anliegen ist.</quote><br/>
              <cite class="text-right"><a href="/menschen/#raja">Raja Koebke</a></cite>
            </p>
          </div>
        </div>
        <div class="carousel-item px-5">
          <div class="d-flex d-block align-items-center">
            <img class="rounded-circle border w-50" src="/assets/images/menschen/bengie.jpg" alt="Bianca">
            <p class="px-3">
              <quote class="h5 text-muted"><span class="inline-icon">{% include "icons/solid/quote-left.svg" %}</span>Ich bin Startup Pitch & Public speaking Trainer in der Entrepreneurship & Innovationsbranche. Ich bin bei DEMOKRATIE IN BEWEGUNG, weil Demokratie kein Naturgesetz ist und mir ihre zukunftsfähige, transparente und gerechte Erhaltung ein Anliegen ist.</quote><br/>
              <cite class="text-right"><a href="/menschen/#bengie">Benedikt</a></cite>
            </p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="text-right">
      <a href="/menschen/">und viele weitere tolle Menschen</a>
  </div>
</div>
