layout: simple
extends: default.liquid
path: /initiativ-prinzip/
title: 'Das DiB Initiativ-Prinzip'
---

<div class="container">
  <div class="row justify-content-center ">
    <img class="col-md-12" src="/assets/images/publications/init-prinzip-grafik.svg" />
  </div>
</div>

