<div class="container">
  <nav class="row no-gutters navbar navbar-expand-lg align-items-center p-0">
    <a class="navbar-brand col-md-2 m-0" href="/"><img style="width: 100%;" class="mx-0 p-0 my-3" src="/assets/images/logo/dib_logo.svg" alt="Der Schriftzug 'Demokratie in Bewegung'" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse p-0 m-0 col-md-10 navbar d-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/wir/">Wir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gemeinsam/">Gemeinsam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/themen/">Themen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aktuelles/">Aktuelles</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-secondary" href="/">Something</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary text-white" href="/spenden/">Spende</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://marktplatz.bewegung.jetzt">zum Marktplatz</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
