<script
        src="/assets/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>
        
<script src="/assets/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
  var _html = document.documentElement;

  function showSubscribeNowModal() {
    $('#subscribeNowModal').modal('show');
    _html.removeEventListener('mouseleave', showSubscribeNowModal);
  }

  _html.addEventListener('mouseleave', showSubscribeNowModal);
</script>

<script type="text/javascript">
  function _show_profile(jq) {
    jq.removeClass('col-md-2').addClass('col-md-12');
    jq.find('.details').show();
    jq.find('.teaser').hide();
  }
  function _hide_profile(jq) {
    jq.removeClass('col-md-12').addClass("col-md-2")
    jq.find('.details').hide();
    jq.find('.teaser').show();
  }

  $('.profile-grid .card').click(function(e){
    let $t = $(this);
    _hide_profile($t.parent().find(".col-md-12"));
    _show_profile($t);

  })
</script>
<style type="text/css">
  .profile-grid .details {
    display: none;
  }

  .profile-grid .card .teaser {
    cursor: pointer;
  }

  .profile-grid .card .teaser img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */;
    transition: filter 1s ease;
  }
  .profile-grid .card:hover .teaser img {
    -webkit-filter: unset;
    -moz-filter: unset;
    -ms-filter: unset;
    -o-filter: unset;
    filter: unset;
  }
  .interview {
    columns: 3;
  }
</style>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.bewegung.jetzt"]);
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.bmdt-bund.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->