<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>

    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
    
    {% include nav.html %}

    {% include breadcrumb.html %}


    <main id="content" role="main">
      {% include page_head.html %}

     <div class="container mb-2">
        <div class="row justify-content-md-center">
          <div  class="col{% if thin_boxed %}-md-10{% endif %}">
        
            {{content}}

          </div>
        </div>
      </div>

    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
